form(action="/createPost", method="POST")
  p
    input(type="text", name="url", placeholder="Enter a URL to content")
  p
    input(type="text", name="title", placeholder="Enter the title of your content")
  button(type="submit") Create!
  
//old HTML code
  
//   app.get('/new-post', function (req, res) {
//   res.send(`
//   <form action="/createPost" method="POST"><!-- why does it say method="POST" ?? -->
//   <p>
//     <input type="text" name="url" placeholder="Enter a URL to content">
//   </p>
//   <p>
//     <input type="text" name="title" placeholder="Enter the title of your content">
//   </p>
//   <button type="submit">Create!</button>
// </form>`
//   );
// });



